.target{
    display: block;
    height: 6em;
    margin-top: -6em;
    visibility: hidden;
}

.container {
    color: var(--text-pri);
    background-color: var(--bg-primary);
}
.image {
    max-width: 50vw !important;
}
.imgRow {
    background-color: var(--bg-cards);
}