.languages {
    background-color: #e3fce3;
    border-radius: 20px;
    padding: 3em 3em;
}

.FED {
    background-color: rgb(255, 230, 253);
    border-radius: 20px;
    padding: 1em 1em;
    margin-bottom: 2em;
}

.BED {
    background-color: rgb(228, 241, 255);
    border-radius: 20px;
    padding: 1em 1em;
    margin-bottom: 2em;
}

.DB {
    background-color: rgb(253, 242, 211);
    border-radius: 20px;
    padding: 1em 1em;
    margin-bottom: 2em;
}
.Design {
    background-color: rgb(255, 230, 243);
    border-radius: 20px;
    padding: 1em 1em;
    margin-bottom: 2em;
}

.pill {
    background-color: white;
    border: solid 1px rgb(230, 230, 230);
    border-radius: 20px;
    margin-right: 2em;
}

.pill.col-3 {
    max-width: 200px;
}

footer {
    padding: 2em 2em;
    color: white;
    background-color: #080557;
}

.divider {
    border: 0;
    border-top: 1px solid #ffff;
}

.ball {
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 20px;
}

.db-ball {
    background-color: #ffe6f3;
}