:root {
    --bg-primary: #121212;
    --bg-cards: #1E1E1E;
    --text-pri: #FFFFFF;
    --text-second: #B3B3B3;
    --accent-pri: #6E56CF;
    --accent-second: #64DFDF;
    --accent-third: #FF7D3B;
    --success: #4CAF50;
    --warning: #FFC107;
    --error: #F44336;
    --info: #2196F3;
    --primary-grad: linear-gradient(135deg, #6E56CF 0%, #9B6DFF 100%);
    --secondary-grad: linear-gradient(135deg, #6E56CF 0%, #9B6DFF 100%);
    --type-pri : "Inter", sans-serif;
    --type-second : "Space Grotesk", serif;
}

/* @media screen and (min-width: 425px) {
    .container {
        height: 100vh;
    }
} */


.intro {
    color: var(--text-pri);
    background-color: var(--bg-primary);
    font-family: var(--type-pri);
}

.intro p {
    color: var(--text-second);
}

.img-container {
    width: 400px;
    height: 400px;
    background-color: var(--bg-cards);
}

.profile-img {
    width: 350px;
    height: 350px;
    object-fit: cover;
}

@media screen and (max-width: 425px) {
    .img-container {
        width: 250px;
        height: 250px;
        background-color: var(--bg-cards);
    }
    .profile-img {
        width: 200px;
        height: 200px;
        object-fit: cover;
    }
}

.pseudo-code {
    background-color: var(--bg-cards);
    max-width: 500px;
    height: 300px;
}

.txt-accent-pri {
    color: var(--accent-pri);
}

.txt-accent-sec {
    color: var(--accent-second);
}
.txt-accent-third {
    color: var(--accent-third);
}